<li class="dropdown dropdown-extended dropdown-notification {% if options.dark is defined %}dropdown-dark {% endif %}"
    id="header_notification_bar">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

        {% if options.icon is defined %}
            <i class="{{ options.icon }}"></i>

        {% elseif options.label is defined %}
            <span class="{% if options.class is defined and options.class is not empty %}{{ options.class }}{% endif %}">{{ options.label }}</span>
        {% else %}
            <i class="icon-bell"></i>
        {% endif %}

        {% if items|length > 0 %}
            <span class="badge badge-default{% if options.badgeClass is defined and options.badgeClass is not empty %} {{ options.badgeClass }}{% endif %}">{{ items|length }}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        {% if options.header is defined %}
        <li class="external"
            {% if options.header.backgroundColor is defined %}
                style="background: {{ options.header.backgroundColor }}"
            {% endif %}
        >
            <h3
                {% if options.header.link is defined %}
                style="margin-right: 45px;"
                {% endif %}
            >
                {{ options.header.text }}
            </h3>

            {% if options.header.link is defined %}
            <a href="{{ options.header.link.url }}"
                {% if options.header.link.color is defined %}
                    style = "color: {{ options.header.link.color }}"
                {% endif %}
            >{{ options.header.link.text }}
            </a>
            {% endif %}


        </li>
        {% endif %}
        <li>
            <ul class="dropdown-menu-list scroller"
                {% if options.height is defined %}
                    style="height:{{ options.height }}"
                {% else %}
                    style="height: 200px;"
                {% endif %}

                {% if options.dynamicElementsColor is defined %}
                    data-handle-color="{{ options.dynamicElementsColor }}"
                {% else %}
                    data-handle-color="#637283"
                {% endif %}
            >
                <li>
                    {% for item in items %}
                    {% if item.getUrl() is not null %}
                        <a href="{{ item.getUrl() }}">
                    {% else %}
                        <a href="javascript:;">
                    {% endif %}

                        {% if item.getRightText() is not null %}
                        <span class="time">{{ item.rightText }}</span>
                        {% endif %}

                        {% if item.getTitle() is not null %}
                        <span class="details">
                            {% if item.getIcon() is not null %}
                                <span class="label label-sm label-icon label-{% if item.getIconType() is not null %}{{ item.getIconType() }}{% else %}success{% endif %}" >
                                    <i class="{{ item.getIcon() }}"></i>
                                </span>
                            {% endif %}
                            {{ item.getTitle() }}
                        </span>
                        {% endif %}

                        {% if item.getSubtitle() is not null %}
                        <span class="details show">
                            {{ item.getSubtitle() }}
                        </span>
                        {% endif %}

                        {% if item.getBottomRightText() is not null %}
                            <span class="details show dropdownMenuDownRightText">
                                {{ item.getBottomRightText() }}
                            </span>
                        {% endif %}

                    </a>
                    {% endfor %}

                </li>
            </ul>
        </li>
    </ul>
</li>
