{%  extends '@KnpMenu/menu.html.twig' %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if item.getExtra('icon') is not null -%}<i class="{{ item.getExtra('icon')}}"></i> {%- endif -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) -%}{{ block('spaceIfIcon') ~ label|raw }}{% else %}{{ block('spaceIfIcon') ~ label }}{%- endif -%}
    {%- if item.getExtra('notification') is not null -%}
        <span class="badge badge-{%- if item.getExtra('notificationType') is not empty -%}{{ item.getExtra('notificationType') }}{%- else -%}success{%- endif -%}">
                {{ item.getExtra('notification') }}
            </span>
    {%- endif -%}
{% endblock %}

{% block spaceIfIcon %}{% if item.getExtra('icon') is not null %}{{' '}}{%- endif -%}{% endblock %}

